.calculadora { 
    width: 320px;
    margin:50px auto;
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 8px; 
    background-color: lightgrey;
    padding: 10px;
            }
.pantalla{
    grid-column: span 4;
    text-align: right;
    background-color: #000;
    color:#fff;
    padding: 16px;
    font-size: 32px;
    border-radius: 8px;
}

.btn-operador, .btn-numero, .btn-igual, .btn-borrar{
    border-radius: 10px;
    background-color: orange;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
}

.btn-operador{
    background-color: #fff;
}
.btn-borrar{
    background-color: red;
}
.btn-igual{
    background-color: green;
}

